/* Set the body to use the full height of the viewport and add the background image */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: url('C:\Users\Ahmed Tarek\OneDrive\Desktop\LibraryManagementSystem\frontend\src\assets\images\admin.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.admin-login {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.admin-login h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.admin-login form div {
  margin-bottom: 20px;
}

.admin-login label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.admin-login input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

.admin-login input:focus {
  border-color: #007bff;
  outline: none;
  background-color: #e9ecef;
}

.admin-login button {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.admin-login button:hover {
  background-color: #0056b3;
}
